.listWrapper{
  background: #fff;
  border-radius: 10px;
  padding: 5px 20px;
  height: 320px;
  position: relative;
}

.wrapper h3 {
    color: #fff;
    font-style: italic;
    margin-bottom: 10px;
    
}
.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left:50%;
  bottom:5%;
  transform: translateX(-50%);
}
@media (max-width: 825px){
  .wrapper{
    height: fit-content;
  }
}
