@media (min-width: 768px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
   
  }
  .inputs {
    box-shadow: 0px 4px 4px 0px #00000040;
    height: 2.5rem;
    width: 14vw;
    border-radius: 10px;
    border: 1px solid #d9d9d9;
    padding: 0px 1rem;
  }
}
@media (max-width: 767px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr;
    gap: 1rem;
    width: 100%;
    justify-content: center;
  }
  .inputs {
    box-shadow: 0px 4px 4px 0px #00000040;
    height: 2.5rem;
    border-radius: 10px;
    border: 1px solid #d9d9d9;
    padding: 0px 1rem;
    font-size: 2.5vw;
    width: 70%;
    
  }
}

select option {
  color: black;
}
select:has(option[value=""]:checked) {
  color: gray;
}
input[type=date]:invalid::-webkit-datetime-edit {
  color: #999;
}